
# CONFIGURAÇÕES DE INFRAESTRUTURA 
# Copie este arquivo, renomeie para apenas ".env" e preencha com seus dados locais.
# Nunca envie o arquivo ".env" real para o repositório do GitHub!

# --- BANCO DE DADOS (MYSQL) ---
# URL de conexão. 
# Adicione "?createDatabaseIfNotExist=true" para o MySQL criar o banco sozinho na primeira rodada
DB_URL=jdbc:mysql://localhost:3306/energ-ia?createDatabaseIfNotExist=true

# Credenciais de acesso
DB_NAME=nome_do_seu_banco_aqui
DB_USER=usuario_aplicacao_spring
DB_PASSWORD=insira_uma_senha_para_o_usuario

# --- BACKEND (SPRING BOOT) ---
# API_PORT=8080

# --- FRONTEND ---
# FRONT_PORT=3000
